@font-face {
    font-family: 'MyFont';
    src: url("fonts/fontawesome-webfont.svg"),
        url("fonts/fontawesome-webfont.woff"),
        url("fonts/fontawesome-webfont.woff2"),
        url("fonts/fontawesome-webfont.eot");
    font-style: normal;
}

.hello{
    color: red;
    font-family: 'MyFont';
}